body{
  font: 80%  Helvetica, Arial, sans-serif;
  margin-right: 2em;
  margin-left: 2em;
  line-height: 1.25em;
  color: #4D5259;
  overflow-x: hidden;
}
img{
  width: 238px;
  height: 178px;
}
h1{
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
}
h2{
  margin-bottom: 0;
  font-size:1.1em;
  font-weight: bold;
  color: #4D5259;
}
ol	{
  list-style-type: decimal;
  padding: 0;
  margin: 0;
  margin-left: 1.5em;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 0.25em;
}
p{
  margin-bottom: 0;
}
